<!DOCTYPE html>
<html>
  <head>
    <%# 各ページのタイトルはここにまとめる %>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%# 開発環境のみ %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
